<!DOCTYPE html>
<html data-cast-api-enabled="true">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {{{title}}}
  {{{meta}}}
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="version" content="Afrostream ({{{version}}})">
  <meta name="msapplication-TileColor" content="#17071d">
  <meta name="application-name" content="{{{name}}}">

  <meta name="apple-itunes-app" content="{{{iosAppId}}}">
  <meta name="google-play-app" content="{{{androidAppId}}}">
  <link rel="apple-touch-icon" href="/images/icon175x175.jpeg">
  <link rel="android-touch-icon" href="/images/icon175x175.jpeg">

  {{{link}}}

  <link rel="stylesheet" href="/bootstrap.css" type="text/css">
  <!-- End Facebook Pixel Code -->

  <!-- GCM manifest app -->
  <link rel="manifest" href="/manifest.json">
  <!-- End GCM manifest app -->
</head>
<body>
{{hash}}
<div id="main">{{{body}}}</div>
<!--<script src="/geo.js" type="text/javascript"></script>-->
<!--<script src="/user.js" type="text/javascript"></script>-->
{{> geo}}
{{> user}}

<!--<script>-->
<!--var url = "https://www.afrostream.tv/components/lecomposantquivabien?country='+country+'&subscribed='+subscribed";-->
<!--document.body.innerHTML = '';-->
<!--XHR.get(url, function (data) {-->
<!--document.body.innerHTML = data.html-->
<!--});-->
<!--</script>-->
<script>
  __INITIAL_STATE__ = {{{json-stringify initialState}}};
</script>
<script src="/bootstrap.js" type="text/javascript"></script>

<!-- javascripts externals -->
{{#each externalsJs}}
<script async defer src="{{.}}" type="text/javascript"></script>
{{/each}}
<div id="outdated"></div>
<script type="text/javascript">
  //event listener: DOM ready
  function addLoadEvent (func) {
    var oldonload = window.onload;
    if (typeof window.onload != 'function') {
      window.onload = func;
    } else {
      window.onload = function () {
        if (oldonload) {
          oldonload();
        }
        func();
      }
    }
  }
  //call plugin function after DOM ready
  addLoadEvent(function () {
    outdatedBrowser({
      bgColor: '#e5b508',
      color: '#ffffff',
      lowerThan: 'borderImage',
      languagePath: '/outdated.html'
    })
  });
</script>
</body>
</html>
