<!DOCTYPE html>
<html data-cast-api-enabled="true">
<head>
    <script src="//cdn.optimizely.com/js/4240081832.js"></script>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {{{title}}}
  {{{meta}}}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="version" content="Afrostream ({{{version}}})">
    <meta name="msapplication-TileColor" content="#17071d">
    <meta name="application-name" content="{{{name}}}">
  {{{link}}}
  {{#each cssPaths}}
      <link rel="stylesheet" href="{{.}}">
  {{/each}}
</head>
<body>
{{hash}}

<div id="main">{{{body}}}</div>
<script>
    __INITIAL_STATE__ = {{{json-stringify initialState}}};
</script>

{{#each jsPaths}}
    <script src="{{.}}" type="text/javascript"></script>
{{/each}}

<!-- javascripts -->
<script src="//www.gstatic.com/cv/js/sender/v1/cast_sender.js" type="text/javascript"></script>
<script src="//js.recurly.com/v3/recurly.js" type="text/javascript"></script>
</body>
</html>
